* {
	line-height: 10%;
}

body {
	background-size: 100%;
	background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--if0q4tqs--/c_scale,f_auto,fl_progressive,q_80,w_1600/wpkqlw3gkzfznqaupkza.gif");
}

h1 {
	color: white;
	text-align: center;
}

table {
	padding-bottom: 3%;
}

td {
	width: 3.5%;
	height: 3.5%;
	padding: 0;
	font-size: 0;
	border-radius: 10px;
}

.lime {
	background-color: #00ff00;
	border: thin black solid;
}

.orange {
	background-color: #ffa500;
	border: thin black solid;
}

.red {
	background-color: #ff0000;
	border: thin black solid;
}

.yellow {
	background-color: #f0e68c;
	border: thin black solid;
}

.purple {
	background-color: #ba55d3;
	border: thin black solid;
}

.pink {
	background-color: #ffb6c1;
	border: thin black solid;
}

.green {
	background-color: #32cd32;
	border: thin black solid;
}

.lightgreen {
	background-color: #98fb98;
	border: thin black solid;
}

.blue {
	background-color: #1e90ff;
	border: thin black solid;
}

.grey {
	background-color: #dcdcdc;
	border: thin black solid;
}

.white {
	background-color: white;
	border: thin black solid;
}

.weight {
	font-size: 0.8vw;
	text-align: right;
}

.elem {
	font-weight: 900;
	font-size: 1.2vw;
	text-align: center;
}

.nb {
	font-size: 0.8vw;
}

.legend {
	padding-bottom: 0;
}

.legend table tr td {
	width: 5%;
	height: 5%;
}

.legend p {
	font-size: 1vw;
	text-align: center;
}

.copyrights {
	color: white;
       font-style: italic;
       text-align: right;
       font-family: courier-new;
}

.copyrights #source {
	float:left;
}

.copyrights #login {
	float: right;
}

.info {
	font-size: 1.5vw;
	margin-left: 10%;
	color: white;
}
