* {
	line-height: 10%;
}
body {
	background-size: 100%;
	background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--if0q4tqs--/c_scale,f_auto,fl_progressive,q_80,w_1600/wpkqlw3gkzfznqaupkza.gif");
}

h1 {
	color: white;
	text-align: center;
}

td {
	width: 2%;
	height: 2%;
	padding: 0;
	border-radius: 15px; 
	font-size: 0;
}

.lime {
	background-color: #00ff00;
	border: thin black solid;
}

.orange {
	background-color: #ffa500;
	border: thin black solid;
}

.red {
	background-color: #ff0000;
	border: thin black solid;
}

.yellow {
	background-color: #f0e68c;
	border: thin black solid;
}

.purple {
	background-color: #ba55d3;
	border: thin black solid;
}

.pink {
	background-color: #ffb6c1;
	border: thin black solid;
}

.green {
	background-color: #32cd32;
	border: thin black solid;
}

.lightgreen {
	background-color: #98fb98;
	border: thin black solid;
}

.blue {
	background-color: #1e90ff;
	border: thin black solid;
}

.grey {
	background-color: #dcdcdc;
	border: thin black solid;
}

.weight {
	font-size: 1vmin;
	text-align: right;
}

.elem {
	font-weight: 900;
	font-size: 1.5vmin;
	text-align: center;
}

.nb {
	font-size: 1vmin;
}

#align-legend {
	text-align: center;
}

.legend {
	display: inline-block;
	list-style: none;
}

.legend li {
	float: left;
	margin-right: 10px;
}

.legend span {
	border: 1px solid #ccc;
	float: left;
	width: 12px;
	height: 12px;
	margin: 2px;
}

.legend p {
	display: inline-block;
	color: white;
	margin-top: 10px;
}

.copyrights {
	color: white;
	font-style: italic;
	text-align: right;
	font-family: courier-new;
}

.copyrights #source {
	float:left;
}

.copyrights #login {
	float: right;
}
