body {
	background-image: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Helvetica;
	color: white;
}

.navigation-menu {
	display: flex;
	justify-content: center;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li {
	float: left;
	width: 200px;
	height: 40px;
	background-color: black;
	line-height: 40px;
	text-align: center;
	font-size: 1vw;
	margin-right: 2px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover {
	background-color: green;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display: block;
}
