body {
	background-color: rgb(80, 80, 80);
	width: 100%;
	margin: auto;
}

img {
	max-width: 100%;
}

/* HEADER */
.header {
	position: relative;
	width: 70%;
	height: 3%;
	margin-top: 1%;
	margin-left: 15%;
	padding-bottom: 1%;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
}

.header #h42 {
	width: 35%;
	height: auto;
	margin-top: 1%;
	margin-left: 1%;
}

.header #reload_button {
	position: absolute;
	top: 5%;
	right: 1%;
	width: 3%;
	height: auto;
}

.header #close_button {
	position: absolute;
	bottom: 5%;
	right: 1%;
	width: 3%;
	height: auto;
}

.header #glass {
	position: absolute;
	bottom: -15%;
	right: 5%;
	width: 20%;
	height: auto;
}

/* CONTENT */
.content {
	float: left;
	position: relative;
	width: 47.5%;
	height: auto;
	margin-top: 1.5%;
	margin-left: 1%;
	padding-left: 0.8%;
	padding-right: 0.8%;
	padding-top: 0.8%;
	padding-bottom: 0.5%;
	background-color: rgb(144, 144, 144);
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	z-index: -1;
}

.content #cluster {
	position: relative;
	width: 100%;
	height: 100%;
}

.content #ikea {
	position: absolute;
	top: 58%;
	left: 34%;
	width: 8%;
	height: 22%;
	/*background-color: blue;*/
}

.content #apple {
	position: absolute;
	top: 56.7%;
	right: 4%;
	width: 18%;
	height: 21%;
	/*background-color: red;*/
}

/* SIDE-BARS */
.side-bar {
	float: left;
	position: relative;
	width: 7%;
	height: auto;
	margin-top: 1.5%;
	margin-left: 17%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: rgb(144,144, 144);
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
}

/* LEFT Side-Bar */
.side-bar #arrow, #hand, #eye, #tools, #chat {
	position: relative;
	width: 50%;
	height: auto;
}

/* RIGHT Side-Bar */
.side-bar  #book, #towel {
	position: relative;
	width: 50%;
	height: auto;
}

/* Brick-wall */
.side-bar #brick-wall .row #brick {
	width: 20%;
	height: auto;
}

/* No spaces betweens bricks */
.side-bar #brick-wall {
	font-size: 0;
}

/* Highlights stuff when hovering with mouse */
.side-bar img:not(#brick):hover{
	border: 3px solid red;
	border-radius: 5px;
}

.side-bar #brick-wall:hover{
	border: 2px solid red;
	border-radius: 5px;
}

.header #reload_button:hover {
	border: 2px solid red;
	border-radius: 5px;
}

.header #close_button:hover {
	border: 2px solid red;
	border-radius: 5px;
}

.chatbox {
	float: left;
	position: relative;
	background-color: rgb(146, 239, 119);
	margin-left: 8%;
	margin-top: -4%;
	width: 30%;
	height: auto;
	box-shadow: 10px 10px 5px black;
	border-radius: 10px;
	padding: 1%;
	padding-bottom: 2.5%;
	max-width: 25%;
}

.chatbox:after {
	content: "";
	clear: both;
	display: table;
}

.chatbox .text {
	display: inline-block;
	font-size: 0.8vw;
	margin: 0;
	font-family: Verdana;
}

.chatbox #bold {
	display: inline-block;
	font-size: 1.5vw;
	font-family: Georgia;
	margin-bottom: 0;
}

.chatbox .custom {
	display: inline-block;
	text-shadow: 5px 5px 3px red;
}

.chatbox .italic {
	display: inline-block;
	font-style: italic;
	font-family: Verdana;
	font-size: 0.7vw;	
	margin: 0;
}

.chatbox .form {
	width: 80%;
	height: 5%;
	display: inline-block;
}

.chatbox .submit {
	width: 20%;
	height: 5%;
	display: inline-block;
}

.chatbox .align-form {
	display: inline-block;
	width: 100%;
}
